<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danartec</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo">Damartec</a>
    <nav class="navbar">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">blogs</a></li>
    </nav>

    {{{body}}}

    <div class="footer"> <p>&copy; 2024 DAMARTEC. Todos os direitos reservados.</p> </div>


</body>
</html>