<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danartec</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header class="header">
    <a href="/" class="logo">Damartec</a>
    <nav class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/cadastro">Login</a></li>
      <li><a href="/carrinho">Menu</a></li>
      <li><a href="/">Pedidos</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="#">Contato</a></li>

    </nav>

    {{{body}}}

    <div class="footer"> 
      <div class="container">
        <div class="social-icons"> 
           <a href="#"><i class="fab fa-facebook-f"><img src="/images/facebook.jpg" alt=""></i></a>
           <a href="#"><i class="fab fa-twitter"><img src="/images/twitter.jpg" alt=""></i></a> 
           <a href="#"><i class="fab fa-instagram"></i><img src="/images/instagram.jpg" alt=""></a> 
           <a href="#"><i class="fab fa-linkedin-in"><img src="/images/linkedin.jpg" alt=""></i></a> 
          </div>
          <div class="newsletter"> <input type="email" placeholder="Seu Email">
           <button>Inscrever-se</button> 
          </div>
     </div>
      <p>&copy; 2024 DAMARTEC. Todos os direitos reservados.</p> 
    </div>


</body>
</html>