    <div class="icones">
      <div class="search-container"> <input type="text" placeholder="Search..."> <i class="fas fa-search search-icon"></i> </div>
      <ul id="productList"></ul>
      <div class="cart-icon"> <a href="/carrinho"><i class="fas fa-shopping-cart"></i><span id="cart-count"></span></a>0</div>
      <div class="fas-fa-bars" id="menu-bnt">
        <img src="/images/menu-hamburguer.png" alt="">
      </div>
    </div>
  </header>

  <div class="banner"> 
    <img src="/images/S23Ultra.jpg" alt="Novo Smartphone">
    <h1>Grande Promoção de  Inaguração!</h1> 
    <p>Até 50% de desconto em items selecionaados</p> 
    <button><a href="/carrinho">Compre Agora </a></button>
   </div>

   <div class="products"> 
    <div class="product"> <img src="/images/gamer.jpeg" alt="Product 1"> 
    <h2>Product 1</h2> <p>$10.00</p>
    <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
  </div>
</div>
<div class="products"> 
  <div class="product"> 
  <img src="/images/gamer.jpeg" alt="Product 1"> 
  <h2>Product 1</h2> <p>$10.00</p>
  <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
  <img src="/images/iphonne12.jpg" alt="Product 1"> 
  <h2>Product 1</h2> <p>AOA 100.000,00</p>
  <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">>Adicionar ao carrinho</button>
</div>
 <div class="product">
   <img src="/images/laptop.jpeg" alt="Product 2"> 
   <h2>Product 2</h2> <p>$20.00</p>
   <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
   <img src="/images/iphone11.jpg" alt="Product 4"> <h2>Product 4</h2>
    <p>AOA 100.000,00</p> 
      <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
  </div> <div class="product"> <img src="/images/laptop-with-blank-black-screen-white-table.jpg" alt="Product 3"> 
    <h2>Product 3</h2> <p>$30.00</p> 
    <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">>Adicionar ao carrinho</button>
    <img src="/images/16promx.jpeg" alt="Product 4"> <h2>Product 4</h2> <p>AOA 100.000,00</p> 
      <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
  </div> 
  <div class="product"> 
      <img src="/images/laptop-device-with-minimalist-monochrome-background.jpg" alt="Product 4"> <h2>Product 4</h2> <p>$40.00</p> 
      <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
      <img src="/images/S23Ultra.jpg" alt="Product 4"> <h2>Product 4</h2> <p>AOA 100.000,00</p> 
      <button class="add-to-cart" onclick="addToCart('Product 4', 40.00)">Adicionar ao carrinho</button>
</div>
 </div>
</div> 
<script src="../Public/js/home.js"></script>