<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="Width=device-width, initial-scale=1.0">
    <title> Faça o seu pagamento</title>
    <link rel="stylesheet" href="../Public/CSS/pagamento1.css">
</head>

<body>
    <div class="container">
        <form action="">
        <div class="row">
            <div class="column">
                <h3 class="title">Endereço de cobrança</h3>
                <div class="input-box">
                    <span> Nome completo: </span>
                    <input type="text" 
                    placeholder="Ivano Venancio">
                </div>
                <div class="input-box">
                    <span>Email: </span>
                    <input type="Email" 
                    placeholder="exemplo@exemplo.com">
                </div>
                <div class="input-box">
                    <span>Endereço :</span>
                    <input type="text" 
                    placeholder="Rua - localidade-Cidade">
                </div>
                <div class="input-box">
                    <span>Cidade :</span>
                    <input type="text" 
                    placeholder="Namibe">
                </div>
                <div class="input-box">
                    <span>Estado</span>
                    <input type="text" 
                    placeholder="Angola">
                </div>
                <div class="input-box">
                    <span>Zip Code :</span>
                    <input type="text" 
                    placeholder="+244 xxx xxx xxx ">
                </div>
            </div>

            <div class="column">
                <h3 class="title">Pagamento</h3>
                <div class="input-box">
                    <span>Cartões aceitos :</span>
                    <img src="" alt="">
                    <input type="text" 
                    placeholder="Ivano Venancio">
                </div>
                <div class="input-box">
                    <span>Nome no cartão :</span>
                    <input type="text" 
                    placeholder="Sr.Ivano Venancio">
                </div>
                <div class="input-box">
                    <span>Número do cartão de crédito</span>
                    <input type="number" 
                    placeholder="1111 2222 3333 4444">
                </div>
                <div class="input-box">
                    <span>Expira :</span>
                    <input type="number" 
                    placeholder="2027">
                </div>
                <div class="input-box">
                    <span>Exp.Ano :</span>
                    <input type="number" 
                    placeholder="2027">
                </div>
                <div class="input-box">
                    <span>CVV</span>
                    <input type="number" 
                    placeholder="123">
        </div>
            </div>
        </div>
            <button type="submit" class="btn"> Submeter </button>
          
        </form>
            
    </div>
</body>

</html>