body 
{ font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
     margin: 0; 
     padding: 0; 
     display: flex; 
     justify-content: center; 
     align-items: center;
      height: 100vh;
}
.feedback-container{ 
     background-color: #ffffff;
     padding: 40px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
     width: 300px;
} 
h2{ 
  margin-top: 0; 
} 
.feedback-container label {
    display: block; 
    margin-bottom:10px;

}
.feedback-container input[type="text"], 
.feedback-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
} 
.feedback-container button {
     background-color: #2f0ae8; 
     color: #fff; 
     border: none;
     padding: 10px 15px; 
     border-radius: 5px; 
     cursor: pointer;
} 
.feedback-container button:hover { 
      background-color: #283cf3;
} 
.header .logo{
    height: 0rem;
    font-family: 'Arial', sans-serif; 
    font-size: 3rem;
    font-weight: bold;
    color: #0f0559; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    margin-right: 20px;
    
  
  }
 .header .logo:hover{
    transform: scale(1.1);
  }