<<<<<<< HEAD:Public/CSS/index.css
@import url(<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">);
=======

>>>>>>> origin/Margarida_manuel:Public/css/index.css
:root{
  --main-color: #ede2b4;
  --black:#13131a;
  --bg:#020034;
<<<<<<< HEAD:Public/CSS/index.css
  --border: 1rem solid rgba(255 ,255 ,255,.3);
=======
  --border: 1rem solid rgba(10, 9, 9, 0.3);
>>>>>>> origin/Margarida_manuel:Public/css/index.css
}
*{
  font-family:  "Roboto", sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
<<<<<<< HEAD:Public/CSS/index.css
  transition: .2s linear;
=======
  transition: 2s linear;
>>>>>>> origin/Margarida_manuel:Public/css/index.css
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webikit-scrollbar{
  width: 8rem;
}
html::-webikit-scrollbar-track{
 background: transparent;
}
html::-webikit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}
body{
  background: var(--bg);
  justify-content: center;
}
.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}
.header .logo{
  height: 6rem;
  font-family: 'Arial', sans-serif; 
  font-size: 3rem;
<<<<<<< HEAD:Public/CSS/index.css
   font-weight: bold;
   color: #f0ebe8; 
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
=======
  font-weight: bold;
  color: #f0ebe8; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
>>>>>>> origin/Margarida_manuel:Public/css/index.css

}
header .logo:hover{
  transform: scale(1.1);
}
.header .navbar{
  display: flex;
}
.header .navbar a{
margin: 0 1rem;
font-size: 1.3rem;
color:#fff;
display: flex;
}
.header .navbar a:hover{
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}
.header .icones {
  cursor: pointer;
  display: flex;
  
}
.header .icones :hover{
  color: var(--main-color);
}

<<<<<<< HEAD:Public/CSS/index.css
.header .icones .fas-fa-shopping-cart  img{
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  margin-left: 0rem;

}
=======

>>>>>>> origin/Margarida_manuel:Public/css/index.css
.header .icones .fas-fa-bar img{
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  margin-left: 4rem;

}
#menu-bnt{
  display: none;
}
.search-container { 
  position: relative;
<<<<<<< HEAD:Public/CSS/index.css
   width: 300px;
   } 
.search-container input[type="text"] { 
  width: 100%; padding: 10px;
   font-size: 17px; 
   border: 2px solid transparent; 
  border-radius: 25px;
   transition: border-color 0.3s; 
  }
  .search-container input[type="text"]:focus {
     border-color: #193feb; 
     outline: none; 
    } 
     .search-icon  { 
      position: absolute; 
      top: 50%;
       right: 15px;
        transform: translateY(-50%);
         color: #060505;
          pointer-events: none; 
    }
    .banner { 
      background-color: #033163;
       color: white;
        padding: 100px 20px;
         text-align: center; 
    } 
    .banner h1 { 
      margin: 0; font-size: 50px;
     } 
     .banner p { 
      font-size: 24px; 
    }
 .banner button {
   padding: 10px 20px; 
  font-size: 20px; 
  color:#0d86dc;
   background-color: white;
    border: none; 
    border-radius: 25px; 
    cursor: pointer;
     transition: background-color 0.3s; 
  } 
  .banner button:hover {
     background-color: #ddd; 
    }
    .banner img {
      width: 300px;
      border-radius: 50%;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    }
    
    .products {
  display: flex;
  justify-content: center;
 flex-wrap: wrap; 
 padding: 20px; 
    } 
.product {
 background-color: white; 
  margin: 10px; padding: 20px; 
  border: 1px solid #f9f4f4;
 border-radius: 10px; text-align: center;
 flex-basis: calc(25% - 40px); 
 box-sizing: border-box;
}
.product img {
   width: 100%;
   height: auto; 
   border-radius: 10px;
   } 
   .product h2 { 
    margin: 10px 0; 
    font-size: 18px; 
  } 
  .product p { 
    color: #777;
   }
.product button {
   padding: 10px;
    background-color: #007bff;
     color: white;
      border: none; 
      border-radius: 10px; 
      cursor: pointer; 
      transition: background-color 0.3s; 
    }
.product button:hover {
  background-color: #0056b3;
} 
.footer{ 
  background-color: #333;
 color: white;text-align: center;
  padding: 20px; position: relative;
   bottom: 0; width: 100%;
 }
 .cart-icon {
   position: relative; 
=======
  width: 300px;
} 
.search-container input[type="text"] { 
  width: 100%; padding: 10px;
  font-size: 17px; 
  border: 2px solid transparent; 
  border-radius: 25px;
  transition: border-color 0.3s; 
}
.search-container input[type="text"]:focus {
  border-color: #2f0ae8; 
  outline: none; 
} 
.search-icon  { 
  position: absolute; 
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #060505;
  pointer-events: none; 
}
.footer{ 
  background-color: #f1ebeb;
  color: rgb(54, 52, 52);
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0; 
  width: 100%;
}
.footer .container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.footer .social-icons img{
  margin: 10px 0; 
} 
.footer .social-icons a img { 
  width: 24px;
  height: 24px; 
  vertical-align: middle; 
  margin-right: 8px; 
}
.footer .newsletter { 
  margin: 20px 0; 
} 
.footer .newsletter input[type="email"] {
  padding: 10px; 
  border: none;
  border-radius: 5px;
  margin-right: 10px; 
}
.footer .newsletter button { 
  padding: 10px 20px;
  background-color:  #007bff; 
  color: #fff; border: none; 
  border-radius: 5px;
  cursor: pointer; 
} 
.footer .newsletter button:hover { 
  background-color:  #01162d; 
} 
.footer .copyright { 
  margin-top: 20px; 
  font-size: 12px; 
}
 .cart-icon {
  position: relative; 
>>>>>>> origin/Margarida_manuel:Public/css/index.css
  display: inline-block; 
} 
.cart-icon span { 
  position: absolute;
<<<<<<< HEAD:Public/CSS/index.css
   top: -10px; right: -10px;
    color: white; 
    border-radius: 50%; 
    padding: 5px 10px;
     font-size: 14px; 
    }

    .carousel {
       width: 70%; 
       max-width: 600px; 
       overflow: hidden;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        justify-content: center;
      } 
      .carousel-container {
         display: flex; width: 500%; 
         animation: slide 10s infinite; 
         justify-content: center;
        } 
        .carousel-slide {
           flex: 1;
            min-width: 100%;
            justify-content: center;
           }
    .carousel-slide img {
       width: 15%;
        height: auto; 
        display: block;
        justify-content: center;
        
       } 
    @keyframes slide { 
      from { transform: rotateY(0deg); } to { transform: rotateY(360deg); } }

      /*.propaganda {
        text-align: center;
        background-color: #f2f2f2;
        padding: 50px;
      }
      
      img {
        width: 300px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
      }
      
      h2 {
        font-size: 36px;
        color: #333;
        margin-top: 20px;
      }
      
      p {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
      }
      
      button {
        background-color: #4CAF50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; 
        margin-top: 20px;
        border-radius: 4px;
        cursor:  pointer;
      }




/*.header .search-form{
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY();
  transform-origin: top;
}
.header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  text-transform: none;
  color: var(--black);
}
.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}
.header .search-form label:hover{
  color: var(--main-color);
}
  0%, 20%, 100% { transform:  rotateX(0%); } 25%, 45% { transform:  rotateX(-100%); } 50%, 70% { transform:  rotateX(-200%); } 75%, 95% { transform: rotateX(-300%); } 100% { transform: rotateX(-400%); } 
=======
  top: -10px; right: -10px;
  color: white; 
  border-radius: 50%; 
  padding: 5px 10px;
  font-size: 14px; 
}


@keyframes slide { 
 from { transform: rotateY(0deg); } to { transform: rotateY(360deg); } 
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container h2{
color: #007aff;
}
main {
  padding: 1rem;
}

promo {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
  background-color: #000;
}

.promo .video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin-bottom: 1rem;
}

.promo .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.promo-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.promo-text {
  max-width: 50%;
  text-align: left;
}

.promo-text h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  animation: slideIn 1s ease-in-out;
}

.promo-text p {
  font-size: 1.2rem;
  margin: 1rem 0;
  animation: slideIn 1.5s ease-in-out;
}

.promo h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.promo p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #2f0ae8;
}

.promo button {
  background-color: #007aff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  animation: slideIn 2s ease-in-out;
}

.promo button:hover {
  background-color: #005bb5;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
.products {
  padding: 2rem 0;
}

.products h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin: 1rem 0 0.5rem;
}

.product p {
  font-size: 1.2rem;
  color: #333;
}

.product button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.product button:hover {
  background-color: #555;
}

.product:hover {
  transform: scale(1.05);
}
about-us {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
  background-color: #000;
  max-width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-image {
  max-width: 50%;
  height: auto;
  border-radius: 10%;
}

.about-text {
  max-width: 50%;
  text-align: left;
}

.about-text h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #2f0ae8;
}

.about-text p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #005bb5;
}
/* Estilos para o modal do carrinho */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#checkoutButton {
  background-color: #007aff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
}

#checkoutButton:hover {
  background-color: #005bb5;
}
/* Estilos para o  carrinho */
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width: 40px;
  height: 40px;
}

#cartCount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}


>>>>>>> origin/Margarida_manuel:Public/css/index.css
