/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f6f6;
  }
  
  header {
    background-color: #6e6c6c;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
   
    
  }
  .logo{
    text-decoration: none;
  }
  nav ul {
    list-style: none;
    display: flex;

  }
  .nav-links li a {
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
  }
  
   /* eselização da  barra de pesquisa */
  .search-form {
    display: flex;
    position: absolute; 
    top: 10px;
     right: 60px;
  }
  
  .search-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 17px;

  }
  
  
  .search-form button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para telas menores */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    /* ... outros estilos para telas menores */
  }
  .search-bar, .cart-icon {
     position: absolute; 
     top: 10px;

  }
  /* eselização da  icone carrinho */
  .quantidade img{
    display: flex;
    position: absolute; 
    top: 10px;
     right: 20px;
 
}

.hero {
  text-align: center;
  padding: 50px;
}

.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.produto {
  /* Estilos para cada produto */
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.produto img {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
}

.anuncio {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}